section {
    background-color: #ffc188;
    padding: 20px 0;
}

span{
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    margin: 2px;
}

img{
    height: 300px !important;
}

.card{
    margin-left: 6%;
}

 